<%@ page pageEncoding="UTF-8" %>

body {
  color:#000;
  background: #fff;
  font: 0.6em Verdana, arial, sans-serif;
  }
  
h2{font-size: 1.2em; color:#990000; font-weight: bold;}
h3{font-size: 1.1em; color:#666; font-weight: bold;}
a:link{color:#666;text-decoration:none;}
a:hover{color:silver;text-decoration:none;}


#finestra {
	border: 2px solid silver;
	height: 300px;
	width: 50%;
	background: #eee;
	margin:auto;
  }
  
#form-login {
	width: 50%;
	height:40%;
    margin:auto;
    background: #fff;
    border: 1px solid #ccc;
   
   }
   
#form-login.table{
	
   border: 1px solid #808080;
   border-collapse: separate;
   border-spacing: 5px;
   
    }
    
#area_riservata{
  background: #fff;
  border: 2px solid silver;
  margin: auto;
  text-align: center;
  width:25%;
  
}

